src/java/META-INF/showValues.xml

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:ns1="http://org.apache.axis2/xsd" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:ns="http://paketo.neo" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" targetNamespace="http://paketo.neo">
    <wsdl:documentation>showValues</wsdl:documentation>
    <wsdl:types>
        <xs:schema attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://paketo.neo">
            <xs:element name="showMetadataValue">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="username" nillable="true" type="xs:string"/>
                        <xs:element minOccurs="0" name="id" nillable="true" type="xs:string"/>
                        <xs:element minOccurs="0" name="schema" nillable="true" type="xs:string"/>
                        <xs:element minOccurs="0" name="element" nillable="true" type="xs:string"/>
                        <xs:element minOccurs="0" name="qualifier" nillable="true" type="xs:string"/>
                        <xs:element minOccurs="0" name="language" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="showMetadataValueResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="hello">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="name" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="helloResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:schema>
    </wsdl:types>
    <wsdl:message name="helloRequest">
        <wsdl:part name="parameters" element="ns:hello"/>
    </wsdl:message>
    <wsdl:message name="helloResponse">
        <wsdl:part name="parameters" element="ns:helloResponse"/>
    </wsdl:message>
    <wsdl:message name="showMetadataValueRequest">
        <wsdl:part name="parameters" element="ns:showMetadataValue"/>
    </wsdl:message>
    <wsdl:message name="showMetadataValueResponse">
        <wsdl:part name="parameters" element="ns:showMetadataValueResponse"/>
    </wsdl:message>
    <wsdl:portType name="showValuesPortType">
        <wsdl:operation name="hello">
            <wsdl:input message="ns:helloRequest" wsaw:Action="urn:hello"/>
            <wsdl:output message="ns:helloResponse" wsaw:Action="urn:helloResponse"/>
        </wsdl:operation>
        <wsdl:operation name="showMetadataValue">
            <wsdl:input message="ns:showMetadataValueRequest" wsaw:Action="urn:showMetadataValue"/>
            <wsdl:output message="ns:showMetadataValueResponse" wsaw:Action="urn:showMetadataValueResponse"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="showValuesSoap11Binding" type="ns:showValuesPortType">
        <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
        <wsdl:operation name="hello">
            <soap:operation soapAction="urn:hello" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="showMetadataValue">
            <soap:operation soapAction="urn:showMetadataValue" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:binding name="showValuesSoap12Binding" type="ns:showValuesPortType">
        <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
        <wsdl:operation name="hello">
            <soap12:operation soapAction="urn:hello" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="showMetadataValue">
            <soap12:operation soapAction="urn:showMetadataValue" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:binding name="showValuesHttpBinding" type="ns:showValuesPortType">
        <http:binding verb="POST"/>
        <wsdl:operation name="hello">
            <http:operation location="showValues/hello"/>
            <wsdl:input>
                <mime:content type="text/xml" part="hello"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="hello"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="showMetadataValue">
            <http:operation location="showValues/showMetadataValue"/>
            <wsdl:input>
                <mime:content type="text/xml" part="showMetadataValue"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="showMetadataValue"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="showValues">
        <wsdl:port name="showValuesHttpSoap11Endpoint" binding="ns:showValuesSoap11Binding">
            <soap:address location="http://estia.hua.gr:8080/axis2/services/showValues.showValuesHttpSoap11Endpoint/"/>
        </wsdl:port>
        <wsdl:port name="showValuesHttpSoap12Endpoint" binding="ns:showValuesSoap12Binding">
            <soap12:address location="http://estia.hua.gr:8080/axis2/services/showValues.showValuesHttpSoap12Endpoint/"/>
        </wsdl:port>
        <wsdl:port name="showValuesHttpEndpoint" binding="ns:showValuesHttpBinding">
            <http:address location="http://estia.hua.gr:8080/axis2/services/showValues.showValuesHttpEndpoint/"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>
